/* 基础样式 */
.btn {
  height: 22px;
  line-height: 22px;
  margin-right:5px;
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn.btn-primary{
  background: none;
  color: #2077ff;
}
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


/* 主页面样式 */
#main .component-item{
  display: inline-block;
  margin:20px;
  padding:10px 20px;
  width:250px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(163,177,191,.35);
}
#main .component-item .name{
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
#main .component-item .description{
  height: 39px;
  line-height: 18px;
  margin:10px 0;
  overflow: hidden;
  color:#666;
}
#main .component-item .line{
  line-height: 20px;
  color: #bababa;
}
#main .component-item .line span{
  margin-right: 5px;
}
#main .component-item .operation{
  padding: 10px 0;
  text-align: right;
}

